* {
	padding: 0;
	margin: 0;
	color: inherit;
	text-decoration: none;	
	-webkit-box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	font-family: 'Barlow Semi Condensed', 'Noto Sans KR', sans-serif;
}


/* HEADER */
header {
	display: flex;
	padding: 0 20px;
	font-size: 1em;
	line-height: 50px;
	background: #1E2751;
	color: #fff;
}

.menubar {
	margin: 0 0 0 20px;
}

.menubar ul {
	list-style: none;
}

.menubar li {
	float: left;
	padding: 0 10px;
}

.menubar li ul {
	display:none;
	width: 200px;
	position:absolute;
	background: #3D3A44;
	z-index:200;
	font-size: 18px;
}

/* 
.menubar li:hover ul {
	display: grid;
} 
*/

.menubar li ul li {
	padding: 0 20px;
	border:1px solid #605E66;
	color: #fff;
}

.menuUtil {
	display: flex;
	align-items: center;
	margin: 0 0 0 auto;
}

.menuUtil img, input {
	height: 25px;
	padding: 0 5px;
}

.subMenu {
	display: flex;
	justify-content: center;
	background-color: #f3f3f3;
}

.subMenu div {
	display: flex;
	width: 100vh;
	justify-content: center;
}

.subMenu a {
	display: grid;
	margin: 0 3%;
	color: lightgray;
}

.subMenu a:hover {
	color: skyblue;
}

.subMenu img {
	margin: 10px auto;
	height: 50px;
}

.subMenu span {
	margin: 0 auto 10px auto;
}


/* FOOTER */
footer {
	background: #000;
	color: #fff;
	font-size: 1em;
	text-align: center;
}

footer ul {
	list-style: none;
}

footer li {
	display: inline-block;
	padding: 0 10px;
}

/* CONTENT */
.container {
	flex: 1;
	height: 1vh;
}


/* ASIDE */
.aside {
	width: 260px;
	margin: 0 30px 0 50px;
	float: left;
	background: gray;
}

.aside li {
	display: block;
	border-bottom: 1px solid rgba(100,100,100,0.3);
	list-style: none;
	font-size: 1.2em;
	color: white;
}

.aside li a {
	display: block;
	padding: 15px 15px;
}

.asideTitle {
	padding: 50px 70px;
	background: skyblue;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
}


/* Home */
.mainContent {
	height: 100%;
	padding: 20px;
	text-align: center;
	color: #fff;
	background-image: url("../img/background.jpg");
	background-size: 100% 100%; 
	background-repeat: no-repeat;
}


/* API */
.api {
	margin: 5%;
	font-size: 1.5em;
}

.apiSearch {
	margin: 2%;
}

.map {
	width: 500px;
	height: 400px;
}

.list {
	position: relative;
	overflow: hidden;
}

.address {
	width: 500px;
	margin: 30px 0;
}

.address li {
	display: block;
	padding: 3px;
	border: 1px solid rgba(100,100,100,0.3);
	list-style: none;
	font-size: 1.2em;
	cursor: pointer;
}

/* 
@media screen and (max-width: 720px) {
	
} 
*/
