* {
	padding: 0;
	margin: 0;
	color: inherit;
	text-decoration: none;
}

body {
	font-family: 'Barlow Semi Condensed', 'Noto Sans KR', sans-serif;
}

/* HEADER */
header {
	display: grid;
	/* grid-template-columns: repeat(3, 1fr); */
	grid-template-columns: 1fr 4fr 1fr;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
}

header::after {
	clear: both;
}

.logo {
	padding: 10px;
}

.gnbLogo {
	justify-self: start;
}

.gnb {
	display: inline-block;
	justify-self: center;
	overflow: hidden;
	list-style: none;
	font-size: 2em;
	color: black;
}

.gnb li {
	display: flex;
	float: left;
	align-items: center;
	margin: 0 10px 0 10px
}

.gnbUser {
	justify-self: end;
}

/* CONTENT */
.container {
	height: 100vh;
	padding: 10px;
	background-color: #f3f3f3;
}

/* ASIDE */
.aside {
	width: 260px;
	margin: 0 30px 0 50px;
	float: left;
	background: gray;
}

.aside li {
	display: block;
	border-bottom: 1px solid rgba(100,100,100,0.3);
	list-style: none;
	font-size: 1.2em;
	color: white;
}

.aside li a {
	display: block;
	padding: 15px 15px;
}

.asideTitle {
	padding: 50px 70px;
	background: skyblue;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
}

/* API */

.map {
	width: 500px;
	height: 400px;
}

@media screen and (max-width: 720px) {
	header {
		display: grid;
		/* grid-template-columns: repeat(3, 1fr); */
		/* grid-template-columns: 1fr 4fr 1fr; */
		justify-content: space-between;
		align-items: center;
		background-color: #fff;
	}
	
	header::after {
		clear: both;
		border: 1px solid gray;
	}
	
	.gnbLogo {
		grid-column: 1/4;
		justify-self: center;
	}
	
	.gnb {
		display: inline-block;
		grid-column: 1/4;
		border-bottom: 1px solid rgba(100,100,100,0.3);
		overflow: hidden;
		list-style: none;
		font-size: 1em;
		color: black;
	}
	
	.gnbUser {
		display: none;
	}
	
	.aside {
		display: none;
	}
	
	.map {
		width: 400px;
		height: 200px;
	}
}
